<section id="home">
  <div class="head_box">
    <div class="container">
      {{>nav}}
      <div class="head_box_main_info">
        <div class="head_box_main_info_title title_text">
          Let's find <br>
          your love <br>
          plants.
        </div>
        <div class="head_box_main_info_sub sub_text">
          Add some color to your home, give it a little attention, the plants will accompany you quietly
        </div>
        <a href="" class="head_box_main_info_video_link link_button">Watch the video</a>
      </div>
      <div class="plants_icons">
        <div class="plants_icons_wrapper">
          <div class="plants_icons_wrapper_item">
            <img src="/images/001-plant 1.png" alt="">
          </div>
          <div class="plants_icons_wrapper_item">
            <img src="/images/001-plant 2.png" alt="">
          </div>
        </div>
        <div class="plants_icons_wrapper">
          <div class="plants_icons_wrapper_item">
            <img src="/images/001-plant 3.png" alt="">
          </div>
          <div class="plants_icons_wrapper_item">
            <img src="/images/001-plant 4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="main_info">
  <div class="info_box">
    <a href="" class="service_btn link_button">Try for service</a>
    <div class="info_box_title title_text">
      Get a beautiful home
    </div>
    <div class="info_box_sub sub_text">
      If you don’t know what plants you can add to the space
      We can provide you with selected plants
      And configure your space
    </div>
  </div>
  <div class="card_box">
    <div class="card_box_title title_text">
      4 types of plants
    </div>
    <div class="card_box_items">

      <a href="/shop" class="card_box_items_item card_item_one">
        <div class="card_box_items_item_title">
          Foliage
        </div>
        <div class="card_box_items_item_counter">
          <span class="plants_counter">21</span> PLANTS
        </div>
      </a>

      <a href="/shop" class="card_box_items_item card_item_two">
        <div class="card_box_items_item_title">
          Poisonous
        </div>
        <div class="card_box_items_item_counter ">
          <span class="plants_counter">16</span> PLANTS
        </div>
      </a>

      <a href="/shop" class="card_box_items_item card_item_three">
        <div class="card_box_items_item_title">
          Flower
        </div>
        <div class="card_box_items_item_counter">
          <span class="plants_counter">3</span> PLANTS
        </div>
      </a>

      <a href="/shop" class="card_box_items_item card_item_four">
        <div class="card_box_items_item_title">
          Fruit
        </div>
        <div class="card_box_items_item_counter">
          <span class="plants_counter">9</span> PLANTS
        </div>
      </a>

    </div>
  </div>
</section>