<section id="location">
  <div class="location_box">
    {{>nav}}
    <div class="location_main_box">
      <div class="location">
        <div class="location_content">
          <div class="location_content_logo">
            <img src="/images/Logo.png" alt="logo">
          </div>
          <div class="location_content_title title_text">
            Location
          </div>
          <div class="location_content_sub sub_text">
            No. 100, Ln. 00, Chifeng St., Datong Dist.,<br> Taipei City 103, Taiwan (R.O.C.)
            <br>
            <span>Open  11:00 - 22:00</span>
          </div>
          <a href="/contacts" class="location_content_button link_button service_btn">
            Contact Me
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="wave">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-35.55,-36.02 C198.64,304.44 326.75,-168.25 575.62,72.53 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #213f36;"></path></svg>
  </div>
</section>