<section id="services">
  <div class="services_box">
    {{>nav}}
    <div class="services_main_box">
      <div class="services">
        <div class="services_content">
          <div class="services_content_title title_text">
            Service for <br>
            home plants.
          </div>
          <div class="services_content_sub sub_text">
            If you don’t know what plants you can add to the space,we can provide you with selected plants,and configure your space.
          </div>
          <a href="" class="services_content_button service_btn link_button">Try for service</a>
        </div>
      </div>
    </div>
  </div>

  <div class="wave">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-35.55,-36.02 C198.64,304.44 326.75,-168.25 575.62,72.53 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #213f36;"></path></svg>
  </div>
</section>