<section id="shop">
  <div class="shop_box">
    {{>nav}}
    <div class="shop_main_box">
      <div class="shop_content">
        <div class="shop_content_info">
          <div class="shop_content_info_title title_text">
            Service for home plants.
          </div>
          <div class="shop_content_info_sub sub_text">
            <span> 7-14 days waiting</span>
            If you don’t know what plants you can add to the space,
            we can provide you with selected plants,and configure your space.
          </div>
          <a href="" class="services_content_button service_btn link_button">Try for service</a>
        </div>
        <div class="shop_content_items ">

          <div class="shop_content_items_buttons tabs">
            <div class="foliage tab_btn">Foliage</div>
            <div class="poisonous tab_btn">Poisonous</div>
            <div class="flower tab_btn">Flower</div>
            <div class="fruit tab_btn">Fruit</div>
          </div>

          <div class="shop_content_item">
            <a href="" class="card_box_items_item card_item_one tab_content">
              <div class="card_box_items_item_title">
                Foliage
              </div>
              <div class="card_box_items_item_counter">
                <span class="plants_counter">21</span> PLANTS
              </div>
            </a>

            <a href="/shop" class="card_box_items_item card_item_two tab_content">
              <div class="card_box_items_item_title">
                Poisonous
              </div>
              <div class="card_box_items_item_counter ">
                <span class="plants_counter">16</span> PLANTS
              </div>
            </a>
            <a href="/shop" class="card_box_items_item card_item_three tab_content">
              <div class="card_box_items_item_title">
                Flower
              </div>
              <div class="card_box_items_item_counter">
                <span class="plants_counter">3</span> PLANTS
              </div>
            </a>
            <a href="/shop" class="card_box_items_item card_item_four tab_content">
              <div class="card_box_items_item_title">
                Fruit
              </div>
              <div class="card_box_items_item_counter">
                <span class="plants_counter">9</span> PLANTS
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="wave">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-35.55,-36.02 C198.64,304.44 326.75,-168.25 575.62,72.53 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #213f36;"></path></svg>
  </div>
</section>